<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign of confirm</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<h1>Confirm if you want sign of</h1>
<br>
<form th:action="@{/user_training/delete}" th:method="post" th:object="${userTrainingId}">
    <input type="hidden" th:name="userTrainingId" th:value="${userTrainingId}"/>
    <input th:value="Confirm" th:type="submit"/>
    <a th:href="@{/user_training/list}">
        Back
    </a>
</form>

</body>
</html>