<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign of confirm</title>
</head>
<body>
<h1>Confirm if you want sign of</h1>
<form th:action="@{/user_training/delete}" th:method="post" th:object="${userTrainingId}">
    <input type="hidden" th:name="userTrainingId" th:value="${userTrainingId}"/>
    <label>
        <input th:value="Confirm" th:type="submit"/>
    </label>
    <a th:href="@{/user_training/list}">
        <button>Back</button>
    </a>
</form>

</body>
</html>