<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<form action="#" th:action="@{/user/edit}" th:object="${user}" method="post">
    User login: <input type="text" th:field="*{username}"/><p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/><br>
    User first name: <input type="text" th:field="*{firstName}"/><p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/><br>
    User last name: <input type="text" th:field="*{lastName}"/><p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/><br>
    Email: <input type="text" th:field="*{email}"/><p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/><br>
    Password: <input type="text" th:type="password" th:field="*{password}"/><p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/><br>
    <div sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
        Position:<br>
        <select th:field="*{role}">
            <option sec:authorize="hasRole('ADMIN')" th:value="ROLE_MANAGER" th:text="Manager"></option>
            <option sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" th:value="ROLE_TEAM_LEADER" th:text="TeamLeader"></option>
            <option th:value="ROLE_WORKER" th:text="Worker"></option>
        </select>
    </div>
    <br>
    <div sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
        Department:<br>
        <select th:field="*{department}">
            <option sec:authorize="hasRole('ADMIN')" th:value="manager" th:text="Manager"/>
            <option th:each="departmentName: ${departmentList}" th:text="${departmentName}" th:value="${departmentName}"/>
        </select>
        <p th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></p>
    </div>
    <br>
    <input type="hidden" th:field="*{id}"/>
    <input th:value="Save" type="submit">
    <a th:href="@{/user/list_to_edit}">
        <button>Back</button>
    </a>
</form>
</body>
</html>