<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="mainMenu">
    <div sec:authorize="isAuthenticated()">
        <div>
            <h2>Main menu</h2>
            <p><a th:href="@{/}">Home</a></p>
            <span sec:authorize="hasAnyRole('ADMIN', 'MANAGER', 'TEAM_LEADER')">
        <p><a th:href="@{/user/register}">Register</a></p>
        <p><a th:href="@{/training/manage/add}">Add new Training</a></p>
        <p><a th:href="@{/training/manage/list}">Training To Edit</a></p>
            </span>
            <p><a th:href="@{/user/list}">Show Users</a></p>
            <p sec:authorize="hasAnyRole('ADMIN', 'MANAGER')"><a th:href="@{/department}">Department</a></p>
            <div>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout">
                </form>
            </div>
        </div>
    </div>
    <div sec:authorize="hasRole('TEAM_LEADER')">
        <h2>Manage training</h2>
        <p><a th:href="@{/user_training/manage/leader/list_to_accept}">Training to accept</a></p>
        <p><a th:href="@{/user_training/manage/leader/edit_list}">Training to edit</a></p>
    </div>
    <div sec:authorize="isAuthenticated()">
        <h2>Yours training</h2>
        <p><a th:href="@{/training/user/list}">Choose your training</a></p>
        <p><a th:href="@{/user_training/list}">Yours training</a></p>
    </div>
</div>
</body>
</html>