<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="mainMenu">
    <span class="main-menu" sec:authorize="isAuthenticated()">
        <span>
            <a th:href="@{/}">Home</a>
            <span sec:authorize="hasAnyRole('ADMIN', 'MANAGER', 'TEAM_LEADER')">
                <a th:href="@{/user/register}">Add new User</a>
                <a th:href="@{/user/list_to_edit}">Manage User</a>
                <a th:href="@{/training/manage/add}">Add new Training</a>
                <a th:href="@{/training/manage/list}">Edit Training</a>
                <a sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" th:href="@{/department}">Department</a>
            </span>
        </span>
        <span sec:authorize="hasRole('TEAM_LEADER')">
            <a th:href="@{/user_training/manage/leader/list_to_accept}">Training to accept</a>
            <a th:href="@{/user_training/manage/leader/edit_list}">Training to edit</a>
        </span>
        <span sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
            <a th:href="@{/user_training/manage/manager/list_to_accept}">Training to accept</a>
            <a th:href="@{/user_training/manage/manager/edit_list}">Training to edit</a>
        </span>
        <span sec:authorize="hasAnyRole('TEAM_LEADER', 'WORKER')">
            <a th:href="@{/training/user/list}">Choose training to sign</a>
            <a th:href="@{/user_training/list}">Yours training</a>
        </span>
        <span>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout">
            </form>
        </span>
    </span>
</div>
</body>
</html>