<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Add Training</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <!--/*/ <th:block th:include="fragments/header.html :: mainMenu"></th:block> /*/-->
</div>
<h1>Add training</h1>
<form th:action="@{/training/manage/add}" th:object="${training}" method="post">
    Title: <input type="text" th:field="*{title}"/>
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/><br>
    Description: <br><textarea th:field="*{description}" rows="10" cols="35"/><br>
    Price: <input type="number" th:field="*{price}"/><br>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"/>
    Quantity available: <input type="number" step="1" th:field="*{quantityAvailable}"/><br>
    Training Days: <input type="number" step="1" th:field="*{trainingDays}"/><br>
    Start training date: <input type="date" th:field="*{dataStart}"/>
    <p th:if="${#fields.hasErrors('dataStart')}" th:errors="*{dataStart}"/>

    <br>
    <span sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
        Department:<br>
        <select multiple="multiple" th:field="*{department}">
            <option th:each="departmentName: ${departmentList}" th:text="${departmentName}" th:value="${departmentName}"/>
        </select>
        <p th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></p>
    </span>
    <br>
    <input th:value="Add" type="submit"/>
    <a th:href="@{/training/management/list}">Cancel</a>
</form>
</body>
</html>