<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disable training proposition</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<h1>Disable training proposition</h1>
<div class="div-cont">
    <form th:action="@{/training/manage/disable}" th:object="${training}" th:method="post">
        <input type="hidden" th:field="*{id}"/>
        <span th:text="'Title: ' +  *{title}"></span><br>
        <span th:text="'Description: ' +  *{description}"></span><br>
        <span th:text="'Starting date:' +  *{dataStart}"></span><br>
        <span>Departments: </span>
        <span th:each="dep: ${training.department}">
            <span th:text="'-' + ${dep}"></span><br>
        </span>
        <br>
        <span>
            <input th:value="Yes" th:type="submit"/>
            <a th:href="@{/training/manage/list}">No</a>
        </span>
    </form>
</div>
</body>
</html>