<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Edit Training</title>
</head>
<body>
<h1>Edit training</h1>
<form th:action="@{/training/manage/edit}" th:object="${training}" method="post">
    <input type="hidden" th:field="*{id}"/>
    Title: <input type="text" th:field="*{title}"/>
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/><br>
    Description: <br><textarea th:field="*{description}" rows="10" cols="35"/><br>
    Price: <input type="number" th:field="*{price}"/><br>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"/>
    Quantity available: <input type="number" step="1" th:field="*{quantityAvailable}"/><br>
    Training Days: <input type="number" step="1" th:field="*{trainingDays}"/><br>
    Start training date: <input type="date" th:field="*{dataStart}"/>
    <p th:if="${#fields.hasErrors('dataStart')}" th:errors="*{dataStart}"/>

    <br>
    <div sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
        <label>
            Department:<br>
            <select multiple="multiple" th:field="*{department}">
                <option th:each="departmentName: ${departmentList}" th:text="${departmentName}" th:value="${departmentName}"/>
            </select>
        </label>
    </div>
    <br>
    <input th:value="Edit" type="submit"/>
    <a th:href="@{/training/management/list}">
        <button>Cancel</button>
    </a>
</form>
</body>
</html>