<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details to manage</title>
</head>
<body>
<h1>Details training:</h1>
<span th:object="${training}">
    <span th:text="'Title: ' + *{title}"></span><br>
    <span th:text="'Descriprion ' + *{description}"></span><br>
    <span th:text="'Training start: ' + *{dataStart}"></span><br>
    <span th:text="'Day of training: ' + *{trainingDays}"></span><br>
    <span th:text="'Price: ' + *{price}"></span><br>
    <span th:text="'Sign up ' + ${accept} + ' for ' + *{quantityAvailable} + ' places'"></span><br>
    <form th:action="@{/#}" th:method="post">
        <button>Accept</button>
    </form>

</span>
</body>
</html>