<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add Department</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<div>
    <!--/*/ <th:block th:include="fragments/header.html :: mainMenu"></th:block> /*/-->
</div>
<h1>Add department</h1>
<form action="#" th:action="@{/department/add}" th:object="${department}" method="post">
    Set name department: <input type="text" th:field="*{name}"/><p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
    <input th:value="Save" type="submit"/>
</form>

<p th:each="dep, index: ${departmentList}" th:text="${index.count} + ': ' + *{dep.name}"/>
</body>
</html>